# Compiled classes, library specs, and gradle files.
*.class
/.idea/libraries
.gradle

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Do not ignore the Gradle wrapper!
!gradle/wrapper/gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE local properties
local.properties