<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniform_imperials.herald">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <!-- Permissions for sending errors to Sentry. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission for barcode scanner lib. -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permissions required for application core functions. -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <!-- Permission for C2D messages in this app. -->
    <permission
        android:name="com.uniform_imperials.herald.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.uniform_imperials.herald.permission.C2D_MESSAGE" />

    <application
        android:name="com.uniform_imperials.herald.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Subtle">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.uniform_imperials.herald.gcm" />
            </intent-filter>

        </receiver>

        <service
            android:name=".services.NotificationMonitoringService"
            android:label="@string/notification_monitoring_service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.uniform_imperials.herald.services.GcmListenerService"
            android:exported="false" >

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.uniform_imperials.herald.services.GcmInstanceIdListener"
            android:exported="false" >

            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

    </application>

</manifest>
